*{
    box-sizing:border-box;
}
.home-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    /*background-color: rgb(15, 239, 15);*/
    
}
.fst-con{
    display:flex;
    flex-direction: column;
    width: 100vw;
    /*background-color: blueviolet;*/
    height: 200vh;
}
.signup-con{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    /*background-color: yellow;*/
    /*min-width:150px;*/    
    /*height: 460px;
    padding: 5px;*/
}
.sign-min{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:90%;    
    /*height: 521px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;*/
}
.fst-img-con{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*background-color: lightblue;*/
    height: 100vh;
}
.para-dis{
    color: #1F2027;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom:0px;
}
.boy-logo{
    height:410px;
    width: 230px;
    /*min-height: 410px;
    min-width:230px;
    max-width: 500px;
    max-height:500px;
    flex-shrink: 3;*/
}
.head-trop{
    color: #1F2027;
    font-family: "Poppins";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0px;
}
.head-student{
    color: #1F2027;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 500;
margin-bottom:0px;
}
.para-lorem{
    color: #505C59;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btn-sign{
    display: flex;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #F27A44;
    width:120px;
    border: none;
    margin-top: 5px;
}
@media screen and (min-width:992px){
    .home-container{
        display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    /*background-color: rgb(15, 239, 15);*/
    padding: 0px;
    }
    .fst-con{
        display:flex;
        flex-direction: row;
        width:100%;
        /*padding-left: 10px;
        padding-right: 90px;*/
        height: 100vh;
    }
    .fst-img-con{
        display:flex;
       flex-direction: column;
       justify-content: center;
       align-items:center;
       width: 50%;
       height: 100vh;
    }
    .signup-con{
       display:flex;
       flex-direction: column;
       justify-content: center;
       align-items:center;
       width: 50%;
       height: 100%;
       /*padding-left:116px;*/
    }
    .sign-min{
       height: 520px;
       width: 100%;
       padding-left: 100px;
       padding-right: 30px;
       /*background-color: aqua;*/
    }
    .head-trop{
        color: #1F2027;
        font-family: Poppins;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: 100px;
    }
    .head-student{ 
    font-size: 80px;
    }
    .para-lorem{ 
    font-size: 16px;
    }
    .btn-sign{
        display: flex;
        padding: 16px 50px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        border-radius: 30px;
        background: #F27A44;
        width: 165px;
        color: white;
    }
    .boy-logo{
        width: 370px;
        height: 500px;
    }
}
.pg1{
    height: 100vh;
}
.pg1-min{
    height:100%;
}
/*.page-2-main{
    height: 1600px;
}*/
/*.page-2{
    height: 800px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width:150px;
}*/
.profile-con{
    display: flex;
    width: 95%;
    height: 130px;
    padding: 25px;
    align-items: center;
    gap: 15px;
    /*background-color: cadetblue;*/
    margin-bottom:50px ;
    border-radius: 30px;
    border: none;
}
@media screen and (min-width:992px){
    .profile-con{
        display: flex;
        width: 360px;
        padding: 25px;
        align-items: center;
        gap: 15px;
        margin-left:100px;
        border-radius: 30px;
        border: none;
        box-shadow: 1cap;
    }
    
}
.img-g1{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.g1-head{
    color: var(--black, #000);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.g1-para{
    color: #000;
/* Body/body1 */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 23px; /* 143.75% */
letter-spacing: 0.5px;
}
.pg2-ex-main{
    /*display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width:150px;
    background-color: lightcoral;*/
    height: 100vh;
}
.pag-2-explore-con{
    height: 447px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    /*gap: 60px;*/
    padding-left: 30px;
    /*background-color: aqua;  */
}
.p2-head{
    color: #000;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 600;

}
.span-el{
    color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
margin-bottom:0px;
}
.para-tro{
    color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 500;
}
.li-el{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}
.btn-explore{
    display: flex;
padding: 16px 50px;
justify-content: center;
align-items: center;
gap: 16px;
border-radius: 30px;
background-color: #F27A44;
color:white
}
@media screen and (min-width:992px) {
    .p2-head{
        font-size: 40px;
    } 
    .span-el{
        font-size: 30px;
    } 
    .para-tro{
        font-size: 20px;
    }

}
.slid-con{
    display:flex;
    height: 100vh;
    width: 100vw;
    /*flex-direction: column;
    justify-content: center;
    align-items: center;*/
    padding:20px;
    background-color: #F27A44;
}
.min-s{
    display: flex;
}
@media screen and (min-width:992px){
    .pg3-i{
        padding-left: 100px;
    }
}
.labelel{
    color: #000;
font-family: Roboto;
font-size: 12.84px;
font-style: normal;
font-weight: 500;
line-height: 26.848px; /* 209.091% */
letter-spacing: 0.584px;
text-transform: uppercase;
}
.input1{
    display: flex;
width: 300px;
height: 40px;
padding-left: 0px;
align-items: center;
border-radius: 11.673px;
border: 0px solid #000;
background-color: #F3F3F3;
}
.inner-input-con{
    display:flex;
    padding-top: 10px;
}
.input2{
    display: flex;
    height: 40px;
    width: 130px;
    padding-left: 0px;
    align-items: center;
    align-self: stretch;
    border-radius: 11.673px;
    border: 0px solid #000;
    background-color: #F3F3F3;
    margin-right: 6px;
}
.btn-form{
    display: flex;
    height: 40px;
    width:130px;
padding: 29.183px;
align-items: center;
gap: 15.175px;
align-self: stretch;
background-color: #000;
color: white;
margin-top: 50px;
border-radius: 10px;

}
@media screen and (min-width:992px){
    .input1{
        display: flex;
    width: 359.533px;
    height: 52.529px;
    padding-left: 0px;
    align-items: center;
    border-radius: 11.673px;
    border: 0px solid #000;
    background-color: #F3F3F3;
    }
    .input2{
        display: flex;
        height: 52.529px;
        padding-left: 0px;
        align-items: center;
        align-self: stretch;
        border-radius: 11.673px;
        border: 0px solid #000;
        background-color: #F3F3F3;
        margin-right: 11px;
    }
    .btn-form{
        display: flex;
    padding: 29.183px;
    align-items: center;
    gap: 15.175px;
    align-self: stretch;
    background-color: #000;
    color: white;
    }
}
.profile-conp{
    display:flex;
    flex-direction: column;
    width: 100vw;
    /*background-color: blueviolet;*/
    height: 150vh;
}
.head-test{
    color: #000;
text-align: center;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.mini-3con{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.prof-3con{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 290px;
    width: 296px;
    margin-bottom:30px;
}
.profile-1{
    width: 100px;
height: 100px;
flex-shrink: 0;
}
.profile-1-head{
    color: var(--black-fonts-headings, #2D2E2E);
text-align: center;

/* Text */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
}
.hr-line{
    width: 126px;
height: 0px;
stroke-width: 1px;
stroke: var(--Green, #A0CD9E);
}
.pa-profile{
    color: var(--black-fonts-headings, #2D2E2E);
text-align: center;

/* Text */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
}
@media screen and (min-width:992px){
    .profile-conp{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        /*background-color: blueviolet;*/
        height: 100vh;
    }
    .mini-3con{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .prof-3con{
        display:flex;
        flex-direction: column;
        align-items: center;
        height: 290px;
       width: 296px;
       margin-right: 100px;
       margin-top:30px;
    }
}
.footer-con{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        padding: 20px;
}
.ul-foo{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        flex-wrap:wrap;
}
.head-foo{
    color: #000;
text-align: center;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.para-foo{
    color: #000;
text-align: center;

/* Text */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
}
.li-foo{
    color: var(--black-fonts-headings, #2D2E2E);

/* Text */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-right:20px;
padding-bottom: 20px;
}
